/*PHONE*/
@media only screen and (max-device-width: 641px) {
    .big {
      display: none;
    }

    .b1L {
      display: none;
    }
    body {
      background-image: url('dots.png');
      background-repeat: cover;
      background-color: #add8e6;
      }

    .introb {
      display: none;
    }

    .intros {
      background-color: #212121cb;
      color:white;
      font-size: 15px;
      display: block;
    }

    .portphone {
      display: block;
    }

    .portcomp {
      display: none;
    }

    .button {
      width: 30%;
    }

    .centers{
      width: 300px;
      height: 200px;
    }
    

}


/*TABLET*/
  @media only screen and (min-device-width: 642px) {
    .small {
      display: none;
    }

    body {
      background-image: url('dots.png');
      background-repeat: cover;
      background-color: #add8e6;
      }

    .introb {
      display: none;
    }

    .intros {
      background-color: #212121cb;
      color:white;
      font-size: 15px;
      display: block;
    }

    .portphone {
      display: block;
    }

    .portcomp {
      display: none;
    }

    .button {
      width: 30%;
    }

    .centers{
      width: 300px;
      height: 200px;
    }
    


}

/*COMPUTER*/
@media only screen and (min-device-width: 800px) {
  .small {
    display: none;
  }

 
  body {
    background-image: url('dots.png');
    background-repeat: cover;
    background-color: #add8e6;
    }

    .intros {
      display: none;
    }

    .introb {
      background-color: #212121cb;
      color:white;
      font-size: 18px;
      display: block;
    }


    .portphone {
      display: block;
    }

    .portcomp {
      display: none;
    }

    .button {
      width: 10%;
    }
    

}


/*COMPUTER*/
@media only screen and (min-device-width: 1300px) {
  .small {
    display: none;
  }

  body {
    background-image: url('dots.png');
    background-repeat: cover;
    background-color: #add8e6;
    }

  .intros {
    display: none;
  }

  .introb {
    background-color: #212121cb;
    color:white;
    font-size: 18px;
    display: block;
  }

  .portcomp {
    display: block;
  }

  .portphone {
    display: none;
  }

  .button {
    width: 10%;
  }
  
  img {
    width: 450px;
    height: 600px;
  }


}

