
/* ============================================
	Mobile Devices: 0 - 480 pixels
   ============================================
*/


@media only screen and (max-width: 480px){
  .row, .navbar {   
    flex-direction: column;
  }
  
  .intro1 {
      display: none;
  }
  
  /* About me photo */
  .profile img{
    max-width: 60%;
    max-height: 350px;
    margin-left: 17%;
    
  }

  .intro2 {
    text-align: center;
  }

    /* Home photo*/
    .home img {
      width: 280px;
      height: 350px;
      margin-left: auto;
      margin-right: auto;
    }

    .basic {
      margin-left: 80px;
    }

    .school {
      margin-left: 150px;
    }

    .main {
      flex: 70%;
      background-color: #DDDDE3;
      padding: 15px; 
    }

    .info1 {
      width: 450px;
      font-size: 15px;
    }

    .high img{
      width: 120px;
    }
  
    .LC img{
      width: 250px;
      height: 150px;
    }

    .info2 {
      width: 450px;
      font-size: 15px;
    }


    .sections {
    
      font-size: 30px;
    }

    footer {
    order: 100;
    line-height: 23px;
    font-size: 15px;
    }
  
}


/* ===================================================
 Tablet and Desktop Devices: 1000 pixels and Greater
  ===================================================
*/

@media only screen and (min-width: 481px) {

 

   /* Home photo*/
  .home img {
    width: 500px;
    height: 595px;
    margin-left: 70%;
  }

  .high img{
    width: 150px;
  }

  .LC img{
    width: 250px;
    height: 190px;
  }
  
  .intro2 {
    display: none;
  }

  footer {
    order: 100;
    line-height: 23px;
    font-size: 15px;
  }

}


