body{
    height: 100%;
    color: black;
    line-height: 1.8;
    font-family: Century;
  }

/*--------------------- Computer Nav Bar--------------------*/
a {
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
  }
  
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover:not(.active) {
    background-color: rgba(209, 209, 209, 0.568);
    color: rgb(97, 96, 96);
  }

/*End of Computer Nav Bar -------------------*/



/*--------------------- Mobile Nav Bar--------------------*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
}
/*End of mobile nav--------------------*/



/*---------------------Index page text layout--------------------*/
.container {
    position: relative;
    text-align: center;
    color: black;
  }

.centeredb {
  text-align: center;
  color: black;
  font-size: 70px;
}

.centered1b {
    color: black;
    text-align: center;
    font-size: 40px;
  }

.centered1s {
  text-align: center;
  color: black;
  font-size: 35px;
  }

.centered2s {
  color: black;
  text-align: center;
  font-size: 25px;
}

/*End text layout ---------------------*/


/*--------------------- Skills For Comp--------------------*/
.holder {
  padding: 0px 100px 0px 400px;
}

.skills {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}

.web {width: 70%; background-color: #212121;}
.py {width: 60%; background-color: #212121;}
.adobe {width: 55%; background-color: #212121;}
.js {width: 20%; background-color: #212121;}
/* End Skills For Comp--------------------*/



/*--------------------- Skills For Mobile--------------------*/
.block {
  width: 70%;
  border: none;
  background-color: #212121;
  color: white;
  padding: 20px 50px;
  font-size: 16px;
  text-align: center;
}
/* End Skills For Mobile--------------------*/

/*--------------------- About Me Pic layout--------------------*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
