@charset "utf-8";


@import url("all.css") only screen;

/* Flex Layout Styles */

body {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    
}



/* ============================================
	Mobile Devices: 0 - 480 pixels
   ============================================
*/


@media only screen and (max-width: 480px) {

   img {
      width: 100%;
      height: 200px;
   }

  .centered {
      font-size: 40px;
      top: 13%;
      left: 50%;
   }

   .middle {
      font-size: 20px;
      width: 100%;
      top: 20%;
      left: 60%;
   }


   .bottom-right {
      position: absolute;
      width: 10%;
      bottom: 51%;
      left: 740px;
    }

   p {
      font-size: 2px;
    }

    .homepic img{
      padding: 20px;
      width: 150px; 
      height: 250px;
    }
  

   body >footer {
      -webkit-order: 100;
      order: 100;
      font-size: 5px;
   }
  
}

/* ===================================================
	Tablet and Desktop Devices: 481 pixels and Greater
   ===================================================
*/

@media only screen and (min-width: 481px) {

   img {
      width: 100%;
      height: 300px;
   }

   .centered {
      position: absolute;
      top: 15%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 60px;
    }
  
    .middle {
      position: absolute;
      top: 23%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 30px;
    }

   a {
      text-decoration: none;
   }

   .top-left {
      visibility:hidden;
      display: none;
   }

   .homepic img{
      background-color: #D8efed;
      border-radius: 20px;
      margin-left: 45px;
      padding: 20px;
      width: 250px; 
      height: 350px;
    }
  

   body >footer {
      -webkit-order: 100;
      order: 100;
      font-size: 20px;
      text-decoration: none;
      color: white;
   }
 

}



