@charset "utf-8";


@import url("all.css") only screen;

/* Flex Layout Styles */

body {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    
}



/* ============================================
	Mobile Devices: 0 - 480 pixels
   ============================================
*/


@media only screen and (max-width: 480px) {
  
   .centered {
      font-size: 40px;
   }

   p {
      font-size: 10px;
   }

   .navbar {
      display: none;
   }

   .slang {
      visibility:hidden;
      display: none;
   }



   body >footer {
      -webkit-order: 100;
      order: 100;
      font-size: 5px;
   }
  
}

/* ===================================================
	Tablet and Desktop Devices: 481 pixels and Greater
   ===================================================
*/

@media only screen and (min-width: 481px) {
   .centered {
      font-size: 55px;
   }

   a {
      text-decoration: none;
   }

   .top-left {
      visibility:hidden;
      display: none;
   }

   body >footer {
      -webkit-order: 100;
      order: 100;
      font-size: 20px;
   }
 

}



